/* File: css/style.css */

body {
  background-color: #000; /* Black background */
  color: #fff;
  font-family: Arial, sans-serif;
  text-align: center;
}

button {
  background-color: #1DA1F2;
  color: #fff;
  border: none;
  padding: 12px 24px;
  margin: 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 8px;
}

button:hover {
  background-color: #0d8ddb;
}
